[Bb]in/
[Oo]bj/
[Oo]ut/

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
.vscode/
*.code-workspace
.idea/
*.sln.iml

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.log
*.cache
project.assets.json
project.nuget.cache
*.[Pp]ublish.xml

crash.log
crashlytics-build.properties

.private-notes/